{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-5">{{contato_pelo_id.nome}} {{contato_pelo_id.sobrenome}}</h1>

    {% if contato_pelo_id.foto %}
      <p>
        <img src="{{contato_pelo_id.foto.url}}" style="max-width: 250px; height: auto;" alt="foto de perfil do {{contato_pelo_id.nome}}">
      </p>
    {% endif %}
    <dl>
      <dt>ID</dt>
      <dd>{{contato_pelo_id.id}}</dd>

      <dt>Telefone</dt>
      <dd>{{contato_pelo_id.telefone}}</dd>

      <dt>E-mail</dt>
      <dd>{{contato_pelo_id.email}}</dd>

      <dt>Data criação</dt>
      <dd>{{contato_pelo_id.data_criacao|date:'d/m/Y'}}</dd>

      <dt>Categoria</dt>
      <dd>{{contato_pelo_id.categoria}}</dd>

      <dt>Descrição</dt>
      <dd>
        {{contato_pelo_id.descricao}}
      </dd>
    </dl> 
{% endblock content %}